<div class="quiz-navigation">
  <div class="quiz-container-nav">
    <div class="prev-quiz-slid">
      <button
        class="prev-quiz"
        id="prev0"
        onclick="quizNoQuiz()">
        <svg
          width="24"
          height="32"
          viewBox="0 0 24 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66_2409)">
            <g filter="url(#filter0_d_66_2409)">
              <path d="M12.6645 10C12.4091 10 12.1524 10.1038 11.9571 10.3113L7.29415 15.2433C7.1056 15.4437 6.99996 15.7152 6.99996 15.9995C6.99996 16.2823 7.1056 16.5538 7.29415 16.7542L11.9571 21.6891C12.3489 22.1041 12.9828 22.1041 13.3746 21.6862C13.7651 21.2684 13.7637 20.5932 13.3719 20.1782L9.42305 15.9995L13.3719 11.8207C13.7637 11.4057 13.7651 10.732 13.3746 10.3141C13.1794 10.1038 12.9213 10 12.6645 10Z" fill="#282828" />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_66_2409"
              x="-3.00006"
              y="0"
              width="26.6667"
              height="32"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset/>
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0" />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_66_2409" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_66_2409"
                result="shape" />
            </filter>
            <clipPath id="clip0_66_2409">
              <rect
                width="24"
                height="32"
                fill="white" />
            </clipPath>
          </defs>
        </svg>

      </button>
      <button
        class="prev-quiz"
        id="prev1"
        onclick="quizOne()"
        style="display:none;">
        <svg
          width="24"
          height="32"
          viewBox="0 0 24 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66_2409)">
            <g filter="url(#filter0_d_66_2409)">
              <path d="M12.6645 10C12.4091 10 12.1524 10.1038 11.9571 10.3113L7.29415 15.2433C7.1056 15.4437 6.99996 15.7152 6.99996 15.9995C6.99996 16.2823 7.1056 16.5538 7.29415 16.7542L11.9571 21.6891C12.3489 22.1041 12.9828 22.1041 13.3746 21.6862C13.7651 21.2684 13.7637 20.5932 13.3719 20.1782L9.42305 15.9995L13.3719 11.8207C13.7637 11.4057 13.7651 10.732 13.3746 10.3141C13.1794 10.1038 12.9213 10 12.6645 10Z" fill="#282828" />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_66_2409"
              x="-3.00006"
              y="0"
              width="26.6667"
              height="32"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset/>
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0" />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_66_2409" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_66_2409"
                result="shape" />
            </filter>
            <clipPath id="clip0_66_2409">
              <rect
                width="24"
                height="32"
                fill="white" />
            </clipPath>
          </defs>
        </svg>

      </button>
      <button
        class="prev-quiz"
        id="prev2"
        onclick="quizTwo()">
        <svg
          width="24"
          height="32"
          viewBox="0 0 24 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66_2409)">
            <g filter="url(#filter0_d_66_2409)">
              <path d="M12.6645 10C12.4091 10 12.1524 10.1038 11.9571 10.3113L7.29415 15.2433C7.1056 15.4437 6.99996 15.7152 6.99996 15.9995C6.99996 16.2823 7.1056 16.5538 7.29415 16.7542L11.9571 21.6891C12.3489 22.1041 12.9828 22.1041 13.3746 21.6862C13.7651 21.2684 13.7637 20.5932 13.3719 20.1782L9.42305 15.9995L13.3719 11.8207C13.7637 11.4057 13.7651 10.732 13.3746 10.3141C13.1794 10.1038 12.9213 10 12.6645 10Z" fill="#282828" />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_66_2409"
              x="-3.00006"
              y="0"
              width="26.6667"
              height="32"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset/>
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0" />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_66_2409" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_66_2409"
                result="shape" />
            </filter>
            <clipPath id="clip0_66_2409">
              <rect
                width="24"
                height="32"
                fill="white" />
            </clipPath>
          </defs>
        </svg>

      </button>
      <button
        class="prev-quiz"
        id="prev3"
        onclick="quizThree()">
        <svg
          width="24"
          height="32"
          viewBox="0 0 24 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66_2409)">
            <g filter="url(#filter0_d_66_2409)">
              <path d="M12.6645 10C12.4091 10 12.1524 10.1038 11.9571 10.3113L7.29415 15.2433C7.1056 15.4437 6.99996 15.7152 6.99996 15.9995C6.99996 16.2823 7.1056 16.5538 7.29415 16.7542L11.9571 21.6891C12.3489 22.1041 12.9828 22.1041 13.3746 21.6862C13.7651 21.2684 13.7637 20.5932 13.3719 20.1782L9.42305 15.9995L13.3719 11.8207C13.7637 11.4057 13.7651 10.732 13.3746 10.3141C13.1794 10.1038 12.9213 10 12.6645 10Z" fill="#282828" />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_66_2409"
              x="-3.00006"
              y="0"
              width="26.6667"
              height="32"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset/>
              <feGaussianBlur stdDeviation="5" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0" />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_66_2409" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_66_2409"
                result="shape" />
            </filter>
            <clipPath id="clip0_66_2409">
              <rect
                width="24"
                height="32"
                fill="white" />
            </clipPath>
          </defs>
        </svg>

      </button>

    </div>
    <div class="quiz-logo">
      <svg
        width="20"
        height="28"
        viewBox="0 0 20 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0139 2.34899V10.0508C11.646 9.97883 13.4571 8.70196 14.4225 6.87038H14.4437V13.5857H14.4183C13.4317 11.7084 11.6953 10.4577 10.0097 10.3844V18.9065C13.0681 18.8581 15.6882 17.4674 18.125 13.2744H18.1518V19.2924H2.22551V18.9065H4.30861V3.26347L2 1.96436H18.156V7.98241H18.1293C15.6924 3.84173 13.0723 2.37385 10.0139 2.34899Z" fill="black" />
      </svg>

    </div>
    <div class="quiz-close">
      <button class="close-btn-quiz" onclick="closeQuizSize()">
        <svg
          width="24"
          height="32"
          viewBox="0 0 24 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M16.7338 10.2753C16.3788 9.92036 15.8055 9.92036 15.4505 10.2753L11 14.7167L6.54949 10.2662C6.19454 9.91126 5.62116 9.91126 5.26621 10.2662C4.91126 10.6212 4.91126 11.1945 5.26621 11.5495L9.71672 16L5.26621 20.4505C4.91126 20.8055 4.91126 21.3788 5.26621 21.7338C5.62116 22.0887 6.19454 22.0887 6.54949 21.7338L11 17.2833L15.4505 21.7338C15.8055 22.0887 16.3788 22.0887 16.7338 21.7338C17.0887 21.3788 17.0887 20.8055 16.7338 20.4505L12.2833 16L16.7338 11.5495C17.0796 11.2036 17.0796 10.6212 16.7338 10.2753Z" fill="#323232" />
        </svg>

      </button>
    </div>
  </div>
</div>